.button {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #2A6788;
  padding: 18px 62px 17px;
  background-color: #eef6f9;
  opacity: 0.9;
  transition: all 0.2s ease 0s;
  border-radius: 10px 10px 10px 10px;
  @media (max-width: 991.98px) {
    padding: 19px 41px 19px;
  }
  @media (max-width: 767.98px) {
    padding: 12px 45px 11px 43px;
    font-size: 24px;
  }
  &:hover {
    background-color: #FFE5C7;
    color: #2A6788;
  }
  &:active {
    background-color: #FD912E;
    padding: 23px 62px 18px;
    @media (max-width: 991.98px) {
      padding: 21px 41px 17px;
    }
    @media (max-width: 767.98px) {
      padding: 14px 45px 9px 43px;
    }
  }

  //.button_border-right
  &_border-right {
    border-right: 3px solid #fd912e;
    border-radius: 10px 0px 0px 10px;
  }
  //.button_border-left
  &_border-left {
    border-left: 3px solid #fd912e;
    border-radius: 0px 10px 10px 0px;
  }
}
input {
  background: #ffffff;
  border: 3px solid #eef6f9;
  border-radius: 10px;
  font-family: "Comfortaa";
  &::placeholder {
    color: #ffe5c7;
  }
  &:focus {
    border: 3px solid #82b5d1;
    &::placeholder {
      color: transparent;
    }
  }
  /*   &:invalid {
    border: 3px solid #ffe5c7;
    color: #fe9696;
  }
  &:valid {
    background-color: #EEF6F9;
    border: 3px solid #82B5D1;
    color: #82B5D1;
  } */
}
