.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  // .header__container

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    @media (max-width: 991px) {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }

  // .header__logo

  &__logo {
    width: 67px;
    height: 56px;
    & img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 767.98px) {
      order: 2;
    }
  }

  // .header__menu

  &__menu {
  }

  // .header__icon-set

  &__icon-set {
    order: 3;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
}
.menu {
  @media (max-width: 767.98px) {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.671);
    transition: all 0.3s ease 0s;
    .menu-open & {
      right: 0;
      overflow: auto;
    }
  }
  // .menu__body

  &__body {
    @media (max-width: 767.98px) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      border-radius: 20px 20px 0 0;
      overflow: hidden;
    }
    @media (max-width: 480px) {
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
      font-size: 20px;
      padding: 30px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  // .menu__item

  &__item {
    padding: 5.5px 30px;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #eef6f9;
      color: #2a6788;
    }
    &:active {
      padding: 12px 30px 6px 30px;
    }
    @media (max-width: 991.98px) {
      padding: 4px 20px;
    }
  }

  // .menu__link

  &__link {
  }

  // .menu__icon

  &__icon {
  }
}
.likedBlock {
  padding: 19px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #eef6f9;
}
.icons-header {
  // .icons-header__item

  &__item {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    &:hover {
      color: #2a6788;
    }
    &:active {
      color: #fd912e;
    }
  }
}
.search-form {
  width: 0;
  border: 3px solid transparent;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -13px;
  height: 34px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  &__input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Comfortaa";
    font-weight: 300;
    line-height: 120%;
    color: #82b5d1;
    &:focus {
      border: none;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 11px;
  }
  &.search-active {
    border: 2px solid #82b5d1;
    width: 279px;
  }
}
.icon-menu {
  display: none;
  @media (max-width: 767.98px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #82b5d1;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}
/*   &::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(12, 0, 61, 0.7252277620032388) 16%
    );
    transition: all 0.3s ease 0s;
  }
  &.veil {
    &::after {
      top: 0;
    }
  } */
